@import "compass/css3";
@import "events";
@import "coworkers";

.widget{
    /*MailChimp*/
    .mc4wp-form{
        text-align:center;
        label{
            display:none;
        }
    }
}

//home slider
body.home{

    #loopsns-loop-232{ //fullwidth
        position: absolute;
        left: 0;
        background:rgba(0,0,0,0.02);
        bottom: 0;
        .owl-dots{
            position: absolute;
            width: 100%;
            top: -2em;
            margin-bottom: 10px;
            height:2em;
        }
        .hentry{
            height:250px;
            figure{
                img{
                    @include opacity(.25);
                }
                figcaption{
                    background:none;
                    border:none;
                }
            }
            .loopsns-slide-title{
                display:inline;
            }
            p{
                display:inline;
            }
        }
    }
    .content > .hentry{
        padding-bottom:calc(250px + 2em); //hentry height + dots height
    }
}

.hentry{
    &.kubist-restrict{
        .post-title:before{
            font-family: FontAwesome;
            content: "\f023";
            padding-right:.1em;
        }
    }
}

.posts{
    .hentry{
        //@include box-shadow(0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12));
        @include transition(box-shadow 0.3s cubic-bezier(.25,.8,.25,1));
        &:hover {
            @include box-shadow(0 14px 28px rgba(0,0,0,0.125), 0 10px 10px rgba(0,0,0,0.11));
        }
    }
}

#post-69,#post-318{ //"coworking - location"
    .post-content{
        padding-top:0; 
    }
    .loopsns-loop{
        &.loopsns-gallery{
            width:120%;
            left:-10%;
            .hentry{
                height:350px;
                figcaption{
                    display:none;
                }
            }
        }
    }
}

//cloned from gordo
.action-button{
    padding: 12px 16px;
    margin: 0;
    border: none;
    background: #333;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1;
    -webkit-appearance: none;
    border-radius: 3px;
    &:hover{
        cursor: pointer;
        background: #13C4A5;
        color: #fff;
    }
}
a.action-button{
    display:inline-block;
    text-underline:none;
    &:hover{
        text-underline:none;
    }
}


.footer{
    .widget{
        &#linkcat-27{ //social links
            .widget-title{
                display:none;
            }
        }
        &#widget-text-3{//contact
            a.action-button{
                min-width:5em;
            }
        }
    }
}

//Kube color scheme
.bg-page{
    background-color:#fff2f2;
}
body{
    
    //no title on home page
    &.home.page{
        .post-header{
            display:none;
        }
    }
    .footer{
        background-color: #fafafa;
        .widget-title{
            color:inherit;
        }
    }
    .credits{
        background-color: #f1f1f1;
    }
    #theme-credits{
        display:none;
    }
}

//ShareDaddy
.sharedaddy {
    .loopsns-loop &{
        display:none;
    }
    .sidebar &{
        text-align:center;
    }
}